@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
	;

body {

font-family: 'Open Sans', sans-serif;

font-size: 1em;

font-weight: 400;

margin-left: auto;

margin-right: auto;

margin-bottom: auto;

margin-top: 200px;

font-family: 'Open Sans', sans-serif;

background-color: #e8e7ef33;
}

.principal {
	width: 520px;
	background-color: #d8d2eb4d;
	border: 0px;
	box-shadow: 0 0 1em #8b8982;
	justify-content: center;
	align-items: center;
	padding:5px;
	margin-left: 352px;
	margin-top: -65px;
}

.Botao {
	display: flex;
	text-decoration: nome;
	background-color: #152c3e82;
	padding: 5px 20px 5px 20px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 16px;
	border: 0;
	cursor: pointer;
	margin-left: 182px;
	margin-top: -32px;
	margin-bottom: 13px;
}

img {
	display: flex;
	margin-left: 34px;
	margin-bottom: 11px;
	margin-top: 16px;
}

h1 {
	margin-top: 19px;
	margin-left: 211px;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
	margin-left: 54px;
	margin-bottom: 38px;
}


#tabela td {
	border: 1px solid #fff0;
	padding: 5px;
}

.Caixa1 {
	width: 295px;
	padding: 5px;
	margin-bottom: 10px;
	border: 2px  groove #8f8fb7;
	border-radius: 15px;
	margin-left: 19px;
}

.Botao3{
	display: flex;
	background-color: #33a52f82;
	padding: 5px 20px 5px 20px;
	color: #181515;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin-left: 307px;
	margin-bottom: -36px;
	margin-right: 17px;
	margin-top: 60px;
}

a{
	text-decoration: none;
}
.voltar{
	display: flex;
	text-decoration: nome;
	background-color: #152c3e82;
	padding: 1px 11px 2px 22px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 19px;
	border: 0;
	cursor: pointer;
	margin-left: 384px;
	margin-right: 32px;
	margin-top: -9px;
}
label{
margin-left: 0px;
}