@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
	;

body {
	width: 600px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 200px;
	font-family: 'Open Sans', sans-serif;
	background-color: #e8e7ef33;
}

.principal {
	width: 520px;
	background-color: #d8d2eb4d;
	border: 0px;
	box-shadow: 0 0 1em #8b8982;
	justify-content: center;
	align-items: center;
	padding:5px;

	margin: auto;
}

.Botao {
	display: flex;
	text-decoration: nome;
	background-color: #379ae882;
	padding: 5px 20px 5px 20px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin-left: 400px;
}

img {
	display: flex;
	margin-left: 18px;
	margin-bottom: 13px;
}

h1 {
	margin-top: -25px;
	
}