@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
	;

body {
	display:flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 200px;
	/* margin: auto; */
	align-items: center;
	justify-content: center;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #e8e7ef33;
}

.principal {
	width: 520px;
	background-color: #d8d2eb4d;
	border: 0px;
	box-shadow: 0 0 1em #8b8982;
	justify-content: center;
	align-items: center;
	/* padding:5px; */
	/* margin-left: auto; */
	/* margin-top: auto; */
	margin: auto;
}

.Botao {
	display: flex;
	text-decoration: nome;
	background-color: #152c3e82;
	padding: 5px 20px 5px 20px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	margin-left: 198px;
}

img {
	display: flex;
	margin-left: 38px;
	margin-bottom: 17px;
	margin-top: 16px;
}

h1 {
	margin-top: -69px;
	margin-left: 150px;
	margin-bottom: -55px;
}

#tabela {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 8px;
	padding: -3px;
	/* border-collapse: collapse; */
}

#tabela th {
	/* border: 1px solid #182936; */
	padding: 2px 20px;
	text-align: left;
	background-color: #2b4254a1;
	color: #fff;
}

.Botao3{
	display: flex;
	background-color: #33a52f82;
	padding: 5px 20px 5px 20px;
	color: #181515;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 28px;
	/* border: 0; */
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: -30px;
	margin-right: 317px;
	margin-top: 84px;
}

a{
	text-decoration: none;
}
.voltar{
	display: flex;
	text-decoration: nome;
	background-color: #5a5a5a82;
	padding: 1px 11px 2px 22px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 19px;
	border: 0;
	cursor: pointer;
	margin-left: 402px;
	margin-right: 12px;
	/* margin-top: -15px; */
}